body{
    background-color: white;
}

.loading-container {
    position: relative;
    width: 200px; 
    height: 10px; 
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    width: 0; 
    transition: width 1s; 
  }
  
  
  .loading-progress {
    width: 100%;
  }