body{  
    font-family: lato, sans-serif;
}
.header{
    background-color: rgb(154, 230, 119); 
    background-image: url(../static/cooking_pattern.png);
}
nav{
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
}
nav img{
    width: 200px;
    height: 200px;
    background-color: rgb(154, 230, 119, 0.65);
    border-radius: 60%;
}
.nav-links{
    flex-direction: column;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.nav-btn{
    border: 2px solid white;
    padding: 6px;
    background: rgb(73, 184, 112);
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.home-col{
    flex-basis: 31%;
    background: rgb(154, 230, 119);
    border-radius: 10px;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
