body{  
    font-family: lato, sans-serif;
}
.header{
    background-color: rgb(154, 230, 119); 
    background-image: url(../static/cooking_pattern.png);
}
nav{
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
}
nav img{
    width: 200px;
    height: 200px;
    background-color: rgb(154, 230, 119, 0.70);
    border-radius: 60%;
}
.nav-links{
    flex-direction: column;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.nav-btn{
    border: 2px solid white;
    padding: 6px;
    background: rgb(73, 184, 112);
    border-radius: 10px;
}
.nav-btn:hover{
    background: rgb(36, 91, 130);
    transition: 0.5s;
}
.home-info .row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.home-col{
    flex-basis: 31%;
    background: rgb(154, 230, 119);
    border-radius: 10px;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    color: rgb(36, 91, 130);
}
.home-col h3{
    font-weight: 900;
    font-size: x-large;
}
.home-col p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    line-height: 1.5;
    font-size: large;
}
.home-col img{
    width: 120px;
    height: 120px;
    margin-left: 32%;
    background: rgb(73, 184, 112);
    border-radius: 30%;
    border: 2px solid white;
}
h3{
    color:rgb(53, 122, 122);
    margin-top: 30px;
    text-align: center;
}
p{
    color:rgb(53, 122, 122);
    text-align: center;
    line-height: 1.5;
}
fieldset{
    background: rgb(154, 230, 119, 0.5);
    width: 700px;
    border: none;
    height: 20%;
    padding: 10px;
}
.form-control-lg{
    margin-left: 3%;
    width: 40%;
    margin: 5px;
    padding: 2px;
    border: 2px solid rgb(40, 133, 116);
    border-radius: 5%;
}
.form-control-lg:hover{
    background: rgb(73, 184, 112, 0.50);
}
.form-control-label{
    color: rgb(36, 91, 130);
}
.btn{
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    height: 45px;
    color: white;
}
.btn-outline-info{
    border: 2px solid white;
    padding: 6px;
    background: rgb(73, 184, 112);
    border-radius: 10px;
}
.btn-outline-info:hover{
    background: rgb(36, 91, 130);
    transition: 0.5s;
}
h1{
    color: rgb(34, 87, 122);
    text-align: center; 
}
h2{
    color: rgb(34, 87, 122);
    text-align: center;
}
.recipe a{
    text-decoration: none;
    color:rgb(34, 87, 122);
    margin: 5%;
}
.recipe{
    padding: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.recipe .row{
    display: flex;
    margin-right: 2%;
}
.recipe-col{
    flex-basis: 45%;
    background: rgb(154, 230, 119, 0.5);
}
.recipe-col img{
    margin-left: 20%;
    margin-bottom: 3%;
    border: 5px solid white;
    border-radius: 10px;
}
.recipe-col h3{
    font-weight: bold;
    font-size: larger;
    color:rgb(36, 91, 130);
    text-align: left;
}
.recipe-col ul{
    font-size: large;
    color:rgb(36, 91, 130);
}
.save-btn{
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    height: 45px;
    color: white;
    border: 2px solid white;
    padding: 6px;
    background: rgb(73, 184, 112);
    border-radius: 10px;
}
.save-btn:hover{
    background: rgb(36, 91, 130);
    transition: 0.5s;
}
.recipe-info a{
    margin-left: 45%;
}
.recipe-info img{
    padding: 1%;
    margin-left: 15%;
}
.info-intro .row{
    display: flex;
    justify-content: space-between;
}
.info-col{
    flex-basis: 45%;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    text-align: center;
}