{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block content %}
<section class="home-info">
    <div class="row">
        <div class="home-col">
            <h3>1 thing PantryPlatters does</h3>
            <p>stuff stuff stuff stuff stuff stuff stuff 
                stuff stuff stuff stuff stuff stuff stuff 
                stuff stuff stuff stuff stuff stuff stuff 
            </p>
        </div>
        <div class="home-col">
            <h3>1 thing PantryPlatters does</h3>
            <p>stuff stuff stuff stuff stuff stuff stuff 
                stuff stuff stuff stuff stuff stuff stuff 
                stuff stuff stuff stuff stuff stuff stuff 
            </p>
        </div>
        <div class="home-col">
            <h3>1 thing PantryPlatters does</h3>
            <p>stuff stuff stuff stuff stuff stuff stuff 
                stuff stuff stuff stuff stuff stuff stuff 
                stuff stuff stuff stuff stuff stuff stuff 
            </p>
        </div>
    </div>

</section>
{% endblock %}