{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block content %}
<section class="home-info">
    <div class="row">
        <div class="home-col">
            <img src="{{ url_for('static', filename='food.png') }}">
            <h3>What is PantryPlatters?</h3>
            <p>PantryPlatters is a recipe finder designed to inspire creativity and convenience 
                in your kitchen by making the most of what's already in your fridge. <br>  
                With a diverse range of recipes to suit every taste, our platform empowers 
                you to create mouthwatering dishes that leave a lasting impression on your taste buds.<br>
                Say goodbye to food waste and hello to delicious, convenient cooking with PantryPlatters!"

            </p>
        </div>
        <div class="home-col">
            <img src="{{ url_for('static', filename='cookbook.png') }}">
            <h3>How it works:</h3>
            <p>Using PantryPlatters is as easy as 1-2-3! ust share up to 10 ingredients from your fridge or 
                pantry, and we will curate a list of four mouthwatering recipes tailored to your selection.  
                Choose the one that catches your eye, and with a click, you'll receive a detailed list of 
                additional ingredients needed and the estimated cooking time.

            </p>
        </div>
        <div class="home-col">
            <img src="{{ url_for('static', filename='like.png') }}">
            <h3>Why use PantryPlatters?</h3>
            <p>At PantryPlatters, we go beyond just offering recipes – we aim to elevate your entire culinary journey.
                Our platform is your gateway to a world of gastronomic exploration and delightful surprises. Experience 
                the convenience of time-saving meal planning, all while reducing food waste and embracing sustainable 
                cooking practices. From quick and easy weekday meals to exotic weekend indulgences, our diverse range of 
                recipes will ignite your passion for cooking. 
            </p>
        </div>
    </div>
    {% if user %}
        <div class="welcome-message">
            <h2>Welcome, {{ user.name }}!</h2>
            <p>We're glad to have you here. Start exploring delicious recipes now!</p>
        </div>
        {% endif %}
</section>
{% endblock %}